# Seconds to wait for instance to come online
export WAIT_SECONDS=10
# Maximum spot instance price to accept
export TF_VAR_max_spot_price=0.0038
# Name for the SSH key for connecting to the instance in AWS
export TF_VAR_ssh_key_name=MyHublinkKey
# Contents of the SSH public key
export TF_VAR_ssh_public_key="ssh-ed25519 publicKeyContentsGoHere"
# Contents of the SSH public key
export TF_VAR_external_ip=$(curl -s https://icanhazip.com)
# AWS region for infrastructure
export TF_VAR_region=$(grep region main.tf | tail -1 | sed -E 's/[^"]+"([^"]+)"/\1/')
# Must be globally unique so slap some hyphenated words in there.
export TF_VAR_state_bucket=$(grep bucket main.tf | sed -E 's/[^"]+"([^"]+)"/\1/')
